<div class="page-content">
  <div class="main-content full">
    <div class="content-body">
      <div class="qa">
        <table>
          <thead>
            <tr>
              <th class="title">咨询主题</th>
              <th class="date">处理时间</th>
              <th class="name">提交人</th>
              <th class="detail">详情</th>
            </tr>
          </thead>
          <tbody>
          <% @questions.each do |question| %>
            <tr class="<%= cycle('odd', 'even') %>">
              <td class="title"><%= question.title %></td>
              <td class="date"><%= question.answer.created_at.strftime("%Y年%m月%d日") %></td>
              <td class="name"><%= question.name %></td>
              <td class="detail"><a href"#">点击查看详情</a></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
