<div class="page-content">
  <div class="main-content full">
    <div class="content-title">
      <h1>在线提问</h1>
    </div>
    <div class="content-body">
      <div class="qa">
        <p>给我们留言，我们将第一时间答复您。</p>
        <%= render "/refinery/qa/questions/form", question: @question %>
      </div>
    </div>
  </div>
</div>
